body {
    font-family: Arial, sans-serif;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,89,1) 50%, rgba(92,232,83,1) 64%, rgba(114,224,81,1) 69%, rgba(252,176,69,1) 100%);
}

h1 {
    font-size: 36px;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,180,233,1) 100%);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}